.s-manual-content {

	h1 {
		font-size: font-size(delta);
	}

	h2 {
		font-size: font-size(beta);
		color: color(secondary);
	}

	> p:first-child {
		font-size: font-size(gamma);
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}
}


.c-article {
	max-width: 800px;
}

.c-intro-paragraph {
	font-size: font-size(beta);
	@include margin(n n $base-space*2 n);
}

dd {
	@include margin(n n $base-space n);
}

dt {
	@include margin(n n $base-space/2 n);
}
