.a-flash {
    animation: flash $duration*2;
    opacity: 0;
    pointer-events: none;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}