/*ul.c-menu { float: left; width: 300px; border-right: 1px dotted #CCC; margin-right: 20px; }*/
/*ul.c-menu li { list-style: none; text-align: left; font-size: 10pt; padding: 3px;}*/
/*ul.c-menu li.indent-1 { padding-left: 0; font-size: 140%; margin-top: 20px; margin-bottom: 8px}*/
/*ul.c-menu li.indent-1.first { margin-top: 0;}*/
/*ul.c-menu li.indent-2 { padding-left: 0; }*/
/*ul.c-menu li.indent-3 { padding-left: 20px; }*/
/*ul.c-menu li.indent-4 { padding-left: 40px; }*/
/*ul.c-menu li.indent-5 { padding-left: 60px; }*/
/*ul.c-menu li.indent-6 { padding-left: 80px; }*/

/*ul.c-menu li.current { font-weight: bold; background: #edd1d1; }*/
/*ul.c-menu li.indent-1.current { font-weight: normal; background: none; }*/