body {
    font-family: '', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 175%;
    font-size: 95%;
    background: #EEE;
}

.nav
{
    background: #990000;
    width: 100%;
    border-top: 1px solid #AA3333;
}

.nav ul
{
    margin: 0;
    padding: 0;
}

.nav ul li {
    width: 150px;
    display: inline-block;
    list-style: none;
    color: white;
    font-size: 120%;
    padding: 10px;
    text-align: center;
}

.nav ul li a, .nav ul li a:visited {
    color: white;
    text-decoration: none;
}

.nav ul li a:hover {
    color: white;
}

.nav ul li:hover {
    background: #AA0000;
}

#top
{
    background: #990000;
    height: 100px;
}

#top img.logo
{
    margin: 5px;
}

#top h1
{
    position: absolute;
    margin-left: 170px;
    margin-top: 50px;
    color: white;
    font-size: 250%;
    font-weight: normal;
}

#content
{
    padding: 0 10px;
}

#content h1
{
    margin: 0;
}

.brace
{
    margin: 0 auto;
    max-width: 900px;
}

#content .brace
{
    background: #fff;
}

#content .brace .wrap {
    padding: 20px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

table th {
    text-align: left;
    border-bottom: 1px solid #9F1313;
}

table th, table td {
    line-height: 125%;
    font-size: 95%;
}

.syntaxhighlighter table td {
    font-size: 9pt;
    padding: 0;
    line-height: 140%;
}

blockquote {
    border: 1px solid #990000;
    border-radius: 5px;
    background: #FFEEEE;
    margin: 20px 20px 30px 20px;
    padding: 10px;
    box-shadow: 3px 3px 15px #CCC;
}

blockquote p {
    margin: 0;
}

.gutter { font-family: monospace; }

.gutter div {
    padding-right: 10px;
    margin-right: 10px;
}

dt {
    color: white;
    background: #9F1313;
    padding-left: 5px;
}

dt a {
    color: white;
}

dd {
    background: rgba(214, 19, 19, 0.20);
    padding: 5px;
    margin-bottom: 15px;
}

pre {
    background: #F1F1F1;
    padding: 5px 15px;
}