body {
    font-family: arial, helvetica, verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 160%;
    font-size: 95%;
}

ul.nav
{
    background: #990000;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #AA3333;
}

ul.nav li {
    width: 150px;
    display: inline-block;
    list-style: none;
    color: white;
    font-size: 120%;
    padding: 10px;
    text-align: center;
}

ul.nav li a, ul.nav li a:visited {
    color: white;
    text-decoration: none;
}

ul.nav li a:hover {
    color: white;
}

ul.nav li:hover {
    background: #AA0000;
}

#top
{
    background: #990000;
    height: 100px;
}

#top img.logo
{
    margin: 5px;
}

#top h1
{
    position: absolute;
    margin-left: 170px;
    margin-top: 50px;
    color: white;
    font-size: 250%;
    font-weight: normal;
}

#content
{
    padding: 0 10px;
}

table td {
    font-size: 95%;
    padding: 0;
}

blockquote {
    border: 1px solid #990000;
    border-radius: 3px;
    background: #FFEEEE;
    margin: 0;
    padding: 10px;
}

blockquote p {
    margin: 0;
}