/*------------------------------------------*\

    fonts.scss

\*------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mxm45i");
  src: url("../fonts/icomoon.eot?mxm45i#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mxm45i") format("truetype"), url("../fonts/icomoon.woff?mxm45i") format("woff"), url("../fonts/icomoon.svg?mxm45i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "chalet-london-1960";
  src: url("../fonts/chalet/chalet-london1960-webfont.eot");
  src: url("../fonts/chalet/chalet-london1960-webfont.eot") format("eot"), url("../fonts/chalet/chalet-london1960-webfont.woff") format("woff"), url("../fonts/chalet/chalet-london1960-webfont.ttf") format("truetype"), url("../fonts/chalet/chalet-london1960-webfont.svg") format("svg");
  font-style: normal; }
@font-face {
  font-family: "chalet-ny-1960";
  src: url("../fonts/chalet/chalet-newyork1960-webfont.eot");
  src: url("../fonts/chalet/chalet-newyork1960-webfont.eot") format("eot"), url("../fonts/chalet/chalet-newyork1960-webfont.woff") format("woff"), url("../fonts/chalet/chalet-newyork1960-webfont.ttf") format("truetype"), url("../fonts/chalet/chalet-newyork1960-webfont.svg") format("svg");
  font-style: normal; }
@font-face {
  font-family: "chalet-paris-1960";
  src: url("../fonts/chalet/chalet-paris1960-webfont.eot");
  src: url("../fonts/chalet/chalet-paris1960-webfont.eot") format("eot"), url("../fonts/chalet/chalet-paris1960-webfont.woff") format("woff"), url("../fonts/chalet/chalet-paris1960-webfont.ttf") format("truetype"), url("../fonts/chalet/chalet-paris1960-webfont.svg") format("svg");
  font-style: normal; }
/*
@font-face{
font-family:"Avenir Next W00_n4";
src:url("../fonts/avenir-next/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/avenir-next/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix");
src:url("../fonts/avenir-next/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot"),url("../fonts/avenir-next/7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"),url("../fonts/avenir-next/4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"),url("../fonts/avenir-next/276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"),url("../fonts/avenir-next/5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg#5d02f5f4-46e7-453a-aef9-3e7106d7bb68") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Avenir Next W00_n7";
src:url("../fonts/avenir-next/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/avenir-next/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix");
src:url("../fonts/avenir-next/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"),
url("../fonts/avenir-next/4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"),
url("../fonts/avenir-next/04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"),
url("../fonts/avenir-next/bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"),
url("../fonts/avenir-next/68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg#68f0375d-f66f-4f88-822a-5a0b61d2efc0") format("svg");
font-weight: 700;
font-style: normal;
}*/
/*--------------------------------

    COLORS

----------------------------------*/
/*--------------------------------

    TYPOGRAPHY

----------------------------------*/
/* Weights / Styles */
/* Headings */
/* Data lists */
/* Buttons */
/* Fields */
/* Shadows */
/* Overall site settings */
/* Animations */
/* Typography */
/* Quotes */
/* Spacing */
/* Color */
/* Graphical ornaments */
/* Screen sizes */
/* Media ratios */
/* Z-index */
/* Buttons */
/* Alerts */
/* Fields */
/* Modal Windows */
/* Tags */
/* Orientation */
/* Framework */
/* Old IE -- Don't touch */
/*------------------------------------
	BACKGROUND
*/
/*------------------------------------
	# BORDER
	http://davidtheclark.github.io/scut/#border
*/
/*------------------------------------
	# BORDER RADIUS

	Short hand for putting rounded corners on a side of an element

		@include border-top-radius(20px);
*/
/*------------------------------------
	CLEARFIX
	From http://nicolasgallagher.com/micro-clearfix-hack/
*/
/*------------------------------------
	# FONT FACE

	Shorthand for including @font-face in your css.
	Remember also, Google fonts, Typekit have different approaches.

	Example:
		@include font-face(proxima-nova, /fonts/proxima-nova-bold-italic, bold, italic);

 	Order of the includes matters, and it is: normal, bold, italic, bold+italic.
*/
/*------------------------------------
	FONT-SIZE
*/
/*------------------------------------
	# HIDE-TEXT

	Hide-text is an image replacement mixin. It is based off the HTML5-Boilerplate image-replacement.
*/
/*------------------------------------
	LINK
*/
/*------------------------------------*\

	MEDIA BOX

	Used to constrain the proportions of an element with a set width
	like an iframe.

	Should be applied to a parent container with the media element nested.

	e.g. <div class="video-wrapper">
			<iframe></iframe>
		</div>

	- landscape
	- square
	- portrait
	- widescreen

/*------------------------------------*/
/*------------------------------------
	# OFF-CANVAS

	Throw and element off the page.
	This makes it still accessible by screen-readers, labels etc.
	But doesn't appear on the UI
*/
/*------------------------------------
	OLD-IE
*/
/*------------------------------------
	Position
*/
/*------------------------------------
	RESOLUTIONS
	@include screen-size();
*/
/*------------------------------------
	TABLES
*/
/*------------------------------------
	VERTICAL-SPACING (Consistent spacing)
*/
/*------------------------------------*\

   	BUTTON

	Button options and styles can be changed in _config.scss
	under the *Buttons*.

	Options include:

	$button-font-family
	$has-button-border
	$has-button-gradient
	$has-button-shadow
	$is-button-rounded

	/ref/patterns.php#buttons

/*------------------------------------*/
/*------------------------------------------*\

    _c-table.scss


    @namespace  .c-
    @parent     .c-table

\*------------------------------------------*/
.c-table, .style-guide-box-description table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 0rem; }
  .c-table th, .style-guide-box-description table th {
    font-weight: bold; }
  .c-table th, .style-guide-box-description table th, .c-table td, .style-guide-box-description table td {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem; }
    .c-table th:first-child, .style-guide-box-description table th:first-child, .c-table td:first-child, .style-guide-box-description table td:first-child {
      padding-left: 0; }

.c-table--collapse-h {
  display: block;
  white-space: nowrap;
  overflow-x: auto; }
  @media only screen and (min-width: 720px) {
    .c-table--collapse-h {
      display: table; } }
  .c-table--collapse-h tr {
    display: inline-block; }
    @media only screen and (min-width: 720px) {
      .c-table--collapse-h tr {
        display: table-row; } }
  .c-table--collapse-h td, .c-table--collapse-h th {
    display: block;
    white-space: nowrap; }
    @media only screen and (min-width: 720px) {
      .c-table--collapse-h td, .c-table--collapse-h th {
        display: table-cell; } }
  .c-table--collapse-h tr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem; }
    .c-table--collapse-h tr:first-child {
      margin-left: 0; }
    @media only screen and (min-width: 720px) {
      .c-table--collapse-h tr tr {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 1rem;
        margin-right: 1rem; } }

.c-table--collapse-v th {
  display: none; }
.c-table--collapse-v td {
  display: block; }
  .c-table--collapse-v td:before {
    content: attr(data-th) ": ";
    display: inline-block; }
    @media only screen and (min-width: 720px) {
      .c-table--collapse-v td:before {
        display: none; } }
.c-table--collapse-v th, .c-table--collapse-v td {
  text-align: left; }
  @media only screen and (min-width: 720px) {
    .c-table--collapse-v th, .c-table--collapse-v td {
      display: table-cell; } }
.c-table--collapse-v td:before {
  font-weight: bold;
  width: 128px; }

/*
 * Style Guide specific styles
 */
::selection {
  background-color: #e25831;
  color: white; }

.style-guide {
  border-top: 1px solid #d7d7d7; }
  @media only screen and (min-width: 720px) {
    .style-guide {
      overflow: auto; } }

.style-guide-layout {
  position: relative; }
  @media only screen and (max-width: 720px) {
    .style-guide-layout[style] {
      height: auto !important; } }

.style-guide-logo {
  fill: #363e46;
  margin-bottom: 32px; }

.style-guide-nav {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem; }
  @media only screen and (min-width: 720px) {
    .style-guide-nav {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      overflow: auto; } }
  @media only screen and (max-width: 720px) {
    .style-guide-nav > .o-box {
      padding-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      background-color: rgba(0, 0, 0, 0.06);
      display: none; }
      .style-guide-nav > .o-box.is-visible {
        display: block; } }
  @media only screen and (min-width: 720px) {
    .style-guide-nav {
      width: 250px;
      border-right: 1px solid #d7d7d7;
      position: absolute; } }
  .style-guide-nav ul {
    list-style: none;
    margin-bottom: 2rem;
    margin-left: 0rem; }
    .style-guide-nav ul li a {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      display: inline-block;
      color: rgba(54, 62, 70, 0.5); }
      .style-guide-nav ul li a:hover {
        color: #e25831;
        text-decoration: none; }
  .style-guide-nav h2 {
    text-transform: uppercase; }
  .style-guide-nav .is-active {
    color: #363e46; }

.style-guide-header {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 16px; }
  .style-guide-header .c-search-box {
    width: 125px;
    float: right; }
    @media only screen and (min-width: 720px) {
      .style-guide-header .c-search-box {
        width: 250px; } }
  .style-guide-header .c-breadcrumb {
    float: left;
    max-width: 150px;
    margin: 0;
    padding: 0;
    line-height: 42px; }

.style-guide-nav-mobile-link {
  padding-left: 1rem;
  padding-right: 1rem;
  display: block; }
  @media only screen and (min-width: 720px) {
    .style-guide-nav-mobile-link {
      display: none; } }

.style-guide-content {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  overflow: auto;
  max-height: 100%; }
  .style-guide-content > .o-box {
    padding-top: 16px; }
  @media only screen and (min-width: 720px) {
    .style-guide-content {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 250px;
      overflow: hidden;
      padding: 0; }
      .style-guide-content > .o-box {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        overflow: auto;
        max-height: calc( 100% - 75px ); }
        .style-guide-content > .o-box .c-article {
          margin-left: auto;
          margin-right: auto;
          max-width: 800px; } }

.style-guide-content pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(215, 215, 215, 0.2);
  border: 1px solid #d7d7d7; }

.source-panel, .included-scss {
  position: relative;
  margin-top: 64px; }
  .source-panel:before, .included-scss:before {
    content: 'HTML';
    background: #d7d7d7;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 11px;
    margin-top: -24px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 1px 1px 0 0; }

.included-scss {
  margin-top: 48px; }
  .included-scss.is-hidden {
    display: none; }
  .included-scss:before {
    content: 'SCSS'; }

.style-guide-box {
  display: none; }
  .style-guide-box.is-active {
    display: block; }

.style-guide-box-description {
  display: block;
  margin-bottom: 2rem; }
  .style-guide-box-description h1 {
    font-size: 62px; }
    @media only screen and (min-width: 720px) {
      .style-guide-box-description h1 {
        font-size: 32px;
        margin-top: 2rem;
        margin-bottom: 2rem; } }
  .style-guide-box-description h2 {
    font-size: 32px; }
    @media only screen and (min-width: 720px) {
      .style-guide-box-description h2 {
        font-size: 62px;
        margin-top: 2rem;
        margin-bottom: 2rem; } }
  .style-guide-box-description h3 {
    font-size: 20px; }
  .style-guide-box-description ul {
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: 1rem; }
  .style-guide-box-description ol {
    list-style: decimal;
    margin-left: 2rem;
    margin-bottom: 1rem; }
  .style-guide-box-description .c-revealer__hide-button,
  .style-guide-box-description .c-revealer__show-button {
    font-size: 13px;
    text-transform: uppercase; }
  .style-guide-box-description *:not(pre) > code {
    background: #e9f4fd;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem; }
  .style-guide-box-description code, .style-guide-box-description pre {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; }
  .style-guide-box-description pre {
    border: 1px solid #d7d7d7;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem; }
    .style-guide-box-description pre code, .style-guide-box-description pre pre {
      font-family: inherit; }
  .style-guide-box-description table {
    width: auto;
    border: 0;
    border-collapse: separate; }
    .style-guide-box-description table tr:first-child td, .style-guide-box-description table tr:first-child th {
      border-top: 1px solid #d7d7d7; }
    .style-guide-box-description table tr td, .style-guide-box-description table tr th {
      border-right: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7; }
      .style-guide-box-description table tr td:first-child, .style-guide-box-description table tr th:first-child {
        padding-left: 0.5rem;
        border-left: 1px solid #d7d7d7; }
      .style-guide-box-description table tr td:last-child, .style-guide-box-description table tr th:last-child {
        padding-right: 0.5rem;
        border-right: 1px solid #d7d7d7; }
  .style-guide-box-description hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 0rem;
    margin-right: 0rem; }

@media only screen and (min-width: 720px) {
  body.page-template-template-style-guide {
    overflow: hidden; }
    body.page-template-template-style-guide footer {
      display: none; } }

.style-guide-divide {
  display: none; }
  .style-guide-divide.is-open {
    display: block !important; }
  .style-guide-divide .o-layout {
    border-top: 1px dotted #d7d7d7; }
  .style-guide-divide label {
    font-size: 13px; }
