/*------------------------------------
	LEGIBILITY
*/

@mixin legibility (
	$rendering: optimizeLegibility,
	$smoothing: antialiased
) {
	text-rendering: $rendering;
	-webkit-font-smoothing: $smoothing;
}