.c-global-header {
    @include padding($base-space*2);
    background:color(quaternary);
    color:color(white);
    position: relative;

    @include screen-size(md-max) {
        @include padding($base-space);
    }

    h1 {
        display: none;
    }

    // Documentation Layout
    .l-docs & {
        padding: $base-space;

        .c-site-logo {
            padding: 0;
            float: left;
            height: $touch-target;
            width: auto;
            max-width: 100%;
        }

    }
}