.c-global-nav {
    @include padding($base-space*2 n);
    width:100%;
    @include screen-size(sm-min) {
        @include position(absolute, 0 0 0px 0px);
    }
    ul {
        list-style:none;
        margin:0;
        li {
            @include padding(n $base-space);
            display:inline-block;
        }
    }
    a {
        @include padding($base-space n);
        border-bottom:2px solid transparent;
        color:color(tertiary);
        display: block;
        &:hover {
            border-color:color(tertiary);
            text-decoration: none;
        }
    }
}

