.c-global-nav {
    @include padding($base-space*4 n);
    width:100%;

    .l-docs & {
        padding: 0;
        width: auto;

        ul {
            text-align: right;
        }
    }

    @include screen-size(sm-min) {
        @include position(absolute, 0 0 0px 0px);

        .l-docs & {
            @include position(relative, 0 0 0px 0px);
            text-align: right;
        }
    }

    @include screen-size(md-max) {
        @include padding(n n $base-space*2 n);
    }

    ul {
        list-style:none;
        margin:0;
        li {
            @include padding(n $base-space);
            display:inline-block;
        }
    }

    a {
        @include padding($base-space n);
        border-bottom:2px solid transparent;
        color:white;
        display: block;

        &:hover {
            border-color:color(tertiary);
            text-decoration: none;
            color: color( tertiary );
        }
    }
}

