/*------------------------------------------*\

    _c-icon.scss

    Icons that can be used in HTML or as
    content using pseudo classes

    @namespace  .c-
    @parent     .c-icon

\*------------------------------------------*/

.c-icon {
	font-family: font-family( icon );
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
}

.c-icon--dots-three-horizontal:before {
	content: "\e903";
}
.c-icon--cross:before {
	content: "\e902";
}
.c-icon--menu:before {
	content: "\e901";
}
.c-icon--search:before {
	content: "\e900";
}
