/*------------------------------------------*\

    _c-main.scss

    The space in between the Header and
    Footer

    @namespace  .c-
    @parent     .c-main

\*------------------------------------------*/

.c-main {
	@include padding($base-space);

    @include screen-size(m) {
        min-height: $min-body-height;
		@include padding($base-space*2)
    }
}

.c-article {
	padding: 0;

	@include screen-size(m) {
		min-height: $min-body-height;
		@include padding(0 $base-space*2)
	}
}
