/*------------------------------------------*\

    _c-masthead.scss

    Component normally containing the logo,
    nav and search components

    @namespace  .c-
    @parent     .c-masthead
    @children   .c-masthead__logo
                .c-masthead__nav
                .c-masthead__nav-toggle
                .c-masthead__search

\*------------------------------------------*/



.c-masthead {
    display: flex;
    flex-wrap: nowrap;
    min-height: $header-height;
	line-height: $header-height;
	@include padding($base-space*1.2 $base-space);
}

    .c-masthead__logo,
    .c-masthead__nav,
    .c-masthead__search {
        @include base-font-size;
        min-height: $header-height;
    }

    .c-masthead__nav-toggle,
    .c-masthead__nav,
    .c-masthead__search {
        @include screen-size(m) {
            padding-left: $margin;
        }
    }

    .c-masthead__nav-toggle,
    .c-masthead__search,
    .c-masthead__logo {
        min-width: 1px;
        @include screen-size(m) {
            display: flex;
            align-items: center;
            justify-items: center;
        }
    }

    .c-masthead__logo {
        @include padding(n $base-space n n);
        font-size: 0;
        img {
            max-height: $touch-target/2;
        }
    }

    .c-masthead__nav {
        display: flex;
        align-items: stretch;
        
        @include screen-size(m) {
            flex: 1;
        }
        @include screen-size(m-) {
            @include position(absolute, $header-height 0px 0 0px);
            display: none;
            min-height: 0;
            z-index:1;
        }
    }

    .c-masthead__search {
        display: flex;
        align-items: center;

        @include screen-size(m-) {
            flex: 1;
        }
    }

    .c-masthead__nav-toggle {
        @include padding(n n n $base-space);
        display: none;

        @include screen-size(m-) {
            display: block;
        }
        &:before {
            content:"Menu";
        }
    }

    .c-masthead__nav-toggle-check:checked ~ .c-masthead__nav {
        @include screen-size(m-) {
            display: block;
        }
    }
