/*------------------------------------------*\

    _c-sidebar.scss

    Styles specific to the Sidebar

    @namespace  .c-
    @parent     .c-sidebar
    @children   .c-sidebar__heading
                .c-sidebar__stories
                .c-sidebar__story

\*------------------------------------------*/

.c-sidebar {
    @include padding($base-space $base-space/2);
	border-right: 1px solid color(border);


	.book {
		font-family: font-family(primary);
		font-size: font-size(delta);
		@include margin(n n $base-space*2 n);
	}

	.chapter {
		font-family: font-family(primary);
		font-size: font-size(beta);
		color: color(secondary);
		@include margin($base-space n $base-space $base-space*2);
	}

	.indent-1 {
		@include margin(n n n $base-space*2);
		font-size: font-size(alpha)-2;
	}
}


