.c-site-logo {
    width:$base-space*24;
    max-width:80%;
    margin-left: $base-space/2;

    @include screen-size(sm-min) {
        @include position(absolute, 50% 0 0 50%);
        @include transform(translate(-50%, -50%));
    }
}
