/*------------------------------------------*\

    c-slider.scss

    @namespace  .c-
    @parent     .c-slider

\*------------------------------------------*/

$slider-height: 300px;

.c-slider-container {
	position:relative;
}

.c-slider {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

	.c-slider__item {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
	}

	.c-slider__item {
		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
	}

	.c-slider__item {
		> * {
			display: block;
			float: left;
			max-width: 100%;
			border: 0;
			height: $slider-height;
			width: 100%;
		}
	}

.c-slider_nav {
	@include padding($padding*2);
	font-family: font-family( icon );
	position:absolute;
	z-index:zindex(overlay);
	display: block;
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	color: white !important;
	top:0;

	&:hover {
		background:rgba(0,0,0,0.6);
		text-decoration: none;
	}

	&:active {
		text-decoration: none;
	}

	&:before, &:after {
		top: 45%;
		position: relative;
	}

	&.prev {
		left:0;
		&:before{
			content: '\f0d9';
		}
	}

	&.next {
		right: 0;
		&:after {
			content: '\f0da';
		}
	}
}
