/*------------------------------------------*\

    c-tabs.scss

    Tabs are perfect for single page web
    applications, or for web pages capable
    of displaying different subjects.


    @namespace  .c-
    @parent     .c-tabs

\*------------------------------------------*/


$tab-content: color(site);

.c-tabs {

	pre {
		margin-top: 0 !important;
		max-height: none !important;
		border-radius: 0 $base-radius $base-radius $base-radius !important;
	}

}

.c-tabs-nav {
	font-size:0;
	list-style: none;
	white-space: nowrap;
	overflow-x: auto;
}

.c-tabs-nav__link {
	@include base-font-size;
	@include margin(n n n $base-space/4);
	@include padding(n $padding);
	@include border(1px solid color(tabs), y y n y);
	background: color(tabs);
	color: color(text);
	line-height: $touch-target;
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	border-radius: $base-radius $base-radius 0 0;
	
	&:target, &:focus, &:active, &:hover {
		outline: none;
		text-decoration: none;
	}

	&:visited {
		color: color(text);
	}

	&:hover {
		background: color(tabs, 1, -5%);
		border-color: color(tabs, 1, -5%);
	}

	&:first-child {
		margin-left: 0;
	}

	&.is-active {
		background: $tab-content;
	}


	font-size: font-size(alpha)-4;

	&.is-active {
		background: color(text);
		color: white;
		border: none;
		font-weight: bold;
	}

}

.c-tab__content {
	padding: 0;
	background: none;
}

.c-tab {
	display: none;

	&.is-active {
		display: block;
	}
}
