/*------------------------------------------*\

    _c-table.scss


    @namespace  .c-
    @parent     .c-table

\*------------------------------------------*/

.c-table {
	@include margin($margin 0);

	th {
		font-weight:bold;
	}

	th, td {
		@include margin($margin/4 0);
		@include padding($padding/2);

		&:first-child {
			padding-left:0;
		}
	}
}

.c-table--collapse-h {
	@include table-layout(collapse-horizontally);

	tr {
		@include margin(0 $margin);

		&:first-child {
			margin-left: 0;
		}

		@include screen-size(m) {
			tr{
				@include margin(0 $margin);
			}
		}
	}
}

.c-table--collapse-v {
	@include table-layout(collapse-vertically);

	td {

		&:before {
			font-weight: bold;
			width: $base-space*8;
		}
	}
}
