/*------------------------------------
	# BORDER RADIUS

	Short hand for putting rounded corners on a side of an element

		@include border-top-radius(20px);
*/

@mixin border-top-radius (
$radii:$base-radius
) {
	border-top-left-radius: $radii;
	border-top-right-radius: $radii;
}

@mixin border-bottom-radius (
$radii:$base-radius
) {
	border-bottom-left-radius: $radii;
	border-bottom-right-radius: $radii;
}

@mixin border-left-radius (
$radii:$base-radius
) {
	border-top-left-radius: $radii;
	border-bottom-left-radius: $radii;
}

@mixin border-right-radius (
$radii:$base-radius
) {
	border-top-right-radius: $radii;
	border-bottom-right-radius: $radii;
}