/*--------------------------------

    COLORS

----------------------------------*/

$white                  : #ffffff;
$brand-color-1          : #363E46;
$brand-color-2          : #E53A7D;
$brand-color-3          : #0f6ab4;
$brand-color-4			: #eaeaea;

$heading-color          : $brand-color-1;
$button-color           : darken($white, 10%);
$button-color-primary   : $brand-color-2;
$button-color-secondary	: $brand-color-3;
$field-bg               : $white;

/*--------------------------------

    TYPOGRAPHY

----------------------------------*/

$font-stack-a           : 'chalet-ny-1960', -apple-system, sans-serif;
$font-stack-b           : 'helvetica-light', -apple-system, sans-serif;
$font-stack-mono        : monospace;
$icon-font				: "icomoon", sans-serif;

$font-family: (
	primary         : $font-stack-a,
	secondary       : $font-stack-b,
	mono            : $font-stack-mono,
	icon			: $icon-font
);

$base-font-family		: map-get($font-family, secondary);

/* Weights / Styles */
$bold                   : bold;
$italic                 : italic;

/* Headings */
$heading-font-family    : $font-stack-a;
$heading-weight         : $bold;

/* Data lists */
$dt-weight              : $bold;

/* Buttons */
$button-font-family     : $font-stack-a;
$button-border-width    : 1px;

/* Fields */
$field-font-family      : inherit;

/* Shadows */
$shadow-light			: 0px 1px 3px rgba($brand-color-1, 0.3);
