/* Overall site settings */
$base-unit              : 16px !default;

$box-sizing             : border-box !default;
$is-site-responsive     : true !default;
$is-site-fluid          : true !default;
    $fixed-width		: $base-unit*90;	// [number]px
    $fluid-width		: 100%;	// [number]px
$smoothness             : 0.2;
$content-unit           : $fixed-width/3 !default;

/* Animations */
$duration               : 1s;

/* Typography */
$direction              : ltr !default;
$base-line-height       : $base-unit * 1.5 !default;
$base-font-size         : $base-unit !default;
$fs-ratio               : $major-third !default;   // Scale at which font sizes change
$font-features			: liga kern;

/* Quotes */

$english-quotes			: true!default;		// true | false
$open-quote				: null;				// don't change these
$close-quote			: null;

/* Spacing */
$rem-units              : true !default;
$base-space             : $base-unit;
$vertical-space         : $base-space;
$line-height-ratio		: $base-line-height / $base-font-size!default;
$touch-target           : $base-unit * 2.5;
$padding                : $base-space;
$margin                 : $base-space;

/* Color */

$black: #000000;
$white: #ffffff;
$fade:  0.5;
$error: #dc3b3b;
$warning: #f0b100;
$success: #42b655;

$color: (
    // base
    black               : $black,
    white               : $white,

    // shading
    shade               : $black,
    tint                : $white,

    // brand
    primary             : $brand-color-1,
    secondary           : $brand-color-2,
    tertiary            : $brand-color-3,

    // site
    site                : $white,
    header              : $brand-color-1,
    footer              : darken( $white, 5% ),
    border              : #d7d7d7,
    tabs				: $brand-color-4,

    // text
    text                : $brand-color-1,
    link                : $brand-color-3,

    // alerts
    error               : $error,
    warning             : $warning,
    success             : $success,

    tooltip             : $brand-color-1
);

$shade-amount           : 0.06;
$tint-amount            : 0.6;

/* Graphical ornaments */

$base-radius			: $base-unit / 4 !default;
$base-shadow            : 0px 1px $base-unit/4 rgba(0, 0, 0, 0.1) !default;
$base-shadow-inset      : inset $base-shadow !default;

/* Screen sizes */

$screen-size: (
        s				: $fixed-width/4,	// [number]
        m				: $fixed-width/2,	// [number]
        l				: $fixed-width,		// [number]
        xl				: $fixed-width*1.5,		// [number]

        sh              : 360px,
        mh              : 500px
);

$size-ratio: (
        small			: 0.9,				// [number]
        medium			: 0.95
);

/* Media ratios */
$aspect-ratio: (
	landscape			: 75%,
	square				: 100%,
	portrait			: 400%/3,
	widescreen			: 56.25%
);

/* Z-index */
$zindex: (
    modal : 9000,
    overlay : 8000,
    dropdown : 7000,
    alert : 5000,
    base : 0
);

/* Buttons */
$has-button-border      : false !default;
$has-button-gradient    : false !default;
$has-button-shadow      : false !default;
$button-radius          : $base-radius/2 !default;
$large-button-height    : $touch-target*1.5;

/* Alerts */
$has-alert-border       : false !default;
$is-alert-rounded       : false !default;
$alert-radius           : $base-radius/2 !default;

/* Fields */
$has-field-border       : true !default;
$is-field-rounded       : false !default;
$field-border           : color(border, $fade*2);
$field-radius           : $base-radius/4 !default;
$select-icon            : '';

/* Modal Windows */
$has-modal-box-shadow	: true !default;
$modal-overlay-color	: rgba($black, 0.8) !default;
$modal-background		: $white !default;
$is-modal-rounded		: true !default;
$has-modal-border		: false !default;
$small-modal-size		: $base-unit*30;

/* Tags */
$is-tag-rounded			: true !default;

/* Orientation */
$direction              : ltr !default;
$start                  : left !default;
$end                    : right !default;

/* Framework */
$header-height          : $base-unit*2;
$min-body-height        : $base-unit*36;

/* Old IE -- Don't touch */

$old-ie					: false!default;		// true | *false*
$not-old-ie				: true!default;			// *true* | false

