[class^="o-"],
[class*=" o-"] {
	outline: 5px solid orange;
}

[class^="c-"],
[class*=" c-"] {
	outline: 5px solid cyan;
}

[class^="u-"],
[class*=" u-"] {
	outline: 5px solid violet;
}

[class^="_"],
[class*=" _"] {
	outline: 5px solid red;
}