.u-border-left { border-left: 1px solid color(border); }
.u-border-right { border-right: 1px solid color(border); }
.u-border-bottom { border-bottom: 1px solid color(border); }
.u-border-top { border-top: 1px solid color(border); }
