/*scss/utilities/_u-font-weight.scss*/

.u-regular {
    font-weight: normal !important;
}

.u-lighter {
    font-weight: lighter !important;
}

.u-bolder {
    font-weight: bolder !important;
}

.u-bold {
    font-weight: bold !important;
}