/* MIXINS */

@mixin caption {
	@include font-features("smcp" "c2sc");
	display:block;
	font-style:normal;
	opacity:$fade;
}

@mixin caption-margin {
	@include margin($base-space/2 n n n);
}

@mixin center-content {
	margin-left:auto;
	margin-right:auto;
}

@mixin text-start {
	text-align:left;
	text-align:start;
}

@mixin text-end {
	text-align:right;
	text-align:end;
}

@mixin pill {
	border-radius: 500px;
}

@mixin round {
	border-radius:50%;
}

@mixin rounded {
	border-radius:$base-radius;
}

@mixin vMiddle {
	@include position(absolute, 50% 0 0 0);
	@include transform(translateY(-50%));
	width:100%;
}


/* PLACEHOLDERS */

@mixin clean-list {
	list-style: none;
	margin-left:0;
}

@mixin inline-list {
	font-size:0;
	list-style:none;
	margin:0;
	padding:0;
	> * {
		@include rem(font-size, $base-font-size);
		display: inline-block;
	}
}

/* include box */

@mixin box($include: extend) {
	@include clear();
	@include vertical-spacing();
}

/* include flag */

@mixin flag($include: extend) {
	display:table;
	width:100%;
}

/* include flag-image */

@mixin flag-image($include: extend) {
	display: table-cell;
	white-space: nowrap;
	width: 1px;
	img {
		max-width: none;
	}
}

/* include flag-body */

@mixin flag-body($include: extend) {
	@if $include != "extend" {
		display:table-cell;
	}
	@else {
		@extend %flag-body;
	}
}

%flag-body {
	@include flag-body(include);
}


%date {
	@include font-size(font-size(milli));
	font-weight: bold;
	opacity:$fade;
	text-transform: uppercase;
}




/* OBJECTS */

@include screen {

	/*	BAND:
		Fills container, clears inner floats  */

	.o-Band {		// o-band
		@include clear();
		margin:0;
		position:relative;
		z-index:0;
	}


	/*	BOX:
		Fills container, clears inner floats, adds bottom margin except on last item  */

	.o-Box {			// o-box
		@include box;
	}

	/*	LISTS:
		Clean list or inline list  */
	.o-List {
		&--clean {	// o-list--clean
			@include clean-list;
		}
		&--ib {		// o-list--ib
			@include inline-list;
		}
	}
}

@media print {
	.c-Poster,
	.o-Band--lead {
		background-image: none !important;
		text-align: center;
	}

	.o-Emblem {
		text-align: center;
		img {
			max-height: 3cm;
			width: auto;
		}
	}

	.o-InfoBox {
		a[href^=http]:after {
			content: "[" attr(href) "]";
			display: block;
			font-size: 0.8em;
			opacity: 0.6;
			word-wrap: break-word;
		}
	}
}