.c-manual-entries {
	.l-docs & {
		border-right: 1px solid color( border );
		float: left;
		padding-right: $base-space;
		width: 300px;
	}
}

.c-menu {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;

	li {
		&.indent-1 {
			@include font-size( font-size( beta ) );
			margin: $margin*2 0 $margin/2 0;

			&.first {
				margin-top: 0;
			}
		}

		&.indent-2 { padding-left: 0; }
		&.indent-3 { padding-left: $base-space; }
		&.indent-4 { padding-left: $base-space*2; }
		&.indent-5 { padding-left: $base-space*3; }
		&.indent-6 { padding-left: $base-space*4; }

		&.current {
			@include margin(n (-$base-space));
			@include padding(n $base-space);
			background:color(secondary, 1, 30%);
		}

		&.chapter {
			@include margin($base-space n n n);
			@include padding($base-space n);
			@include font-size( font-size( gamma ) );
			border-top: 1px solid color( border, 0.5 );
			&:first-child {
				border-top:0;
				margin-top:0;
			}
			a {
				color:color(text);
			}
			&.open {
				a {
					color:color(link);
				}
			}
			&.closed + .closed,
			&.closed + .open {
				margin-top:0;
			}
		}

		a {
			@include padding($base-space/8 n);
			display: block;
		}
	}
}
